/* Global */

a {
    text-decoration: none;
    color: inherit;
}



/* Navigation Items */

.nav-list {
    display: flex;
    justify-content: center;
    gap: 60px;
    list-style: none;
    font-size: 35px;
}
 /* Hero Space */

.hero-space {
    display: flex;
    flex-wrap: wrap;
    min-height: 300px;
    /* max-height: 600px; */
    width: 100%;
    align-items: center;
    /* background-color: lightgray; */
}

.right-column {
    flex: 0 0 500px;
    margin: 20px 50px;
}

.left-column img {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 500px;
    width: 500px;
    object-fit: cover;
    object-position: center;
    opacity: 50%;
    border-radius: 50%;
}

.right-column {
    align-items: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.right-column h1 {
    font-size: 50px;
}

.right-column p {
    font-size: 20px;
    max-width: 700px;
}

/* Currently Reading and Watching Space */

.current {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin: 20px auto;
}

.section-title {
    flex-basis: 100%;
    font-size: 50px;
    text-align: center;
    margin: 30px;
}

.card {

    width: 500px;
    /* margin: 0 auto; */
}

.card img {
    height: 500px;
    width: 500px;
}

/* Colors */

.orange {
    background-color: #CD5C08;
}

.light-green {
    background-color: #C1D8C3;
}

.dark-green {
    background-color: #6A9C89;
}

.tan { 
    background-color: #FFF5E4;
}


/* FAQ Section */

.faq {
    display: flex;
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;;
}

.question {
    align-items: center;
    display: flex;
    max-width: 500px;
    min-width: 300px;
    padding: 10px;
    border: 1px solid black;
}

.question h1 {
    font-size: 1.8rem;
}

.question::after {

    margin-left: auto;
    font-size: 30px;
    content: "\002B";
}

.faq.active .question::after {
    content: "\002D";
    font-size: 30px;
}

.answer {
    max-height: 0;
    overflow: hidden;
    /* border: 0px solid black; */
    transition: max-height 1s ease;
    transition: border;
}



.answer p {
    font-size: 20px;
}

.faq.active .answer {
    padding: 10px;
    max-width: 500px;
    min-width: 300px;
    max-height: 300px;
    border: 1px solid black;
    /* transition: max-height 1s ease, border-width 1s ease; */
}

/* Footer */

footer {
    min-height: 300px;
}